.darkOverlay {
  position: relative;

  & * {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}

.accordianChild {
  &:last-child {
    border-bottom: 0;
  }
}
