.deepsight {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #b35c4d;
    z-index: 1;
    box-sizing: border-box;
  }
}
