.darkOverlay {
  position: relative;
  flex-grow: 1;
  flex-basis: 150px;

  & * {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .entry:hover &:before {
    background: rgba(0, 0, 0, 0.5);
  }

  .link &:hover {
    cursor: pointer;
  }
}

.link {
  text-decoration: none;
  flex-grow: 1;
  flex-basis: 150px;
}

.entry {
  position: relative;

  --border: 1px solid #424242;
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);

  &:first-child {
    border-top: var(--border);
  }

  &:nth-child(odd) {
    background-color: #3b3b3b;
  }

  &:hover {
    background-color: #4b4b4b;
  }
}

.big {
  border-radius: 4px;
  overflow: hidden;
}

.loot {
  position: absolute;
  right: 6px;
  z-index: 2;
}
